<div class="about-me-container">
	<div class="about-me-content">
		<div class="img-properties">
			<img src="assets/img/profile/profile-1.jpeg" alt="" srcset="" />
		</div>
		<div class="about-me-information">
			<span class="myName">William Elesbão</span>
			<span class="myJob">FullStack Developer</span>
		</div>
		<div class="social-media-links">
			<ul>
				<li>
					<a
						href="https://github.com/WilliamElesbao"
						target="_blank"
						class="fa-brands fa-github"
					></a>
				</li>
				<li>
					<a
						href="https://www.linkedin.com/in/william-elesbao/"
						target="_blank"
						class="fa-brands fa-linkedin-in"
					></a>
				</li>
				<li>
					<a
						href="https://www.instagram.com/willtubetech/"
						target="_blank"
						class="fa-brands fa-instagram"
					></a>
				</li>
				<!-- <li><a href="https://twitter.com/ElesbaoWilliam" target="_blank" class="fa-brands fa-x-twitter"></a></li> -->
				<!-- <li><a href="https://www.youtube.com/@willtubetech" target="_blank" class="fa-brands fa-youtube"></a></li> -->
			</ul>
		</div>
	</div>
</div>
