<div class="island-set__container">
  <!-- Informações da Ilha (nome, número e quantidade de mesas por ilha) -->
  <div *ngFor="let ilha of ilhas" class="island-and-tables__item">
    <!-- Detalhes da ilha: nome e número -->
    <div class="island-name-and-number">
      <span>{{ ilha.nome }}</span>
      <div class="circle-number">
        <span>{{ ilha.id }}</span>
      </div>
    </div>

    <!-- Conjunto de mesas para a ilha atual -->
    <div class="tables__container">
      <!-- Iteração sobre as mesas da ilha -->
      <div *ngFor="let mesa of ilha.mesas" class="island-central__table">
        <!-- Detalhes da mesa: nome e número -->
        <span class="table-title">{{ mesa.nome }} {{ mesa.id }}</span>
        <!-- Componente modal para exibir detalhes da mesa -->
        <span class="table-subtitle"
          >{{ mesa.branch }}-{{ mesa.pcType }}-{{ mesa.serialNumberPc }}</span
        >
        <app-modal
          [ilhaNome]="ilha.nome"
          [ilhaId]="ilha.id"
          [mesaNome]="mesa.nome"
          [mesaId]="mesa.id"
          [branch]="mesa.branch"
          [pcType]="mesa.pcType"
          [serialNumberPc]="mesa.serialNumberPc"
        >
        </app-modal>
      </div>
    </div>
  </div>
</div>
