* {
	background-color: transparent;
}

.island-set__container {
	/* border: 1px solid red; */
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 0 2rem;
}

.island-and-tables__item {
	/* border: 2px solid rgb(98, 11, 179); */
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 1rem;
	width: 18vw;
	padding: 0.75rem 1rem 1rem 1rem;
	background-color: var(--bg-color-island);
	border-radius: 18px;
	box-shadow: var(--box-shadow-island);
	-webkit-box-shadow: var(--webkit-box-shadow-island);
	-moz-box-shadow: var(--moz-box-shadow-island);
}

.island-name-and-number {
	/* border: 1px solid rgb(174, 53, 255); */
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	font-size: 18px;
	font-weight: 700;
}

.island-name-and-number > span,
.island-name-and-number > .circle-number > span {
	color: var(--title-color-island);
}

.island-name-and-number > .circle-number {
	border: 1px dotted var(--title-color-island);
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	padding: 15px;
}

.circle-number > span {
	/* border: 1px solid red; */
	position: absolute;
}

.tables__container {
	/* border: 1px solid red; */
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 0.25rem;
	width: 100%;
	margin: auto;
}

.island-central__table {
	/* border: 1px solid red; */
	border-radius: 0.25rem;
	height: 100px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 0.25rem;
	background-color: var(--bg-color-table);
	box-shadow: var(--box-shadow-tables);
	-webkit-box-shadow: var(--webkit-box-shadow-tables);
	-moz-box-shadow: var(--moz-box-shadow-tables);
	transition: 0.5s ease;
}

/* .island-central__table:hover{
  transform: scale(1.05);
} */

.island-central__table > .table-title {
	/* border: 1px solid red; */
	color: var(--title-color-table);
	font-size: 12px;
}

.island-central__table > .table-subtitle {
	/* border: 1px solid red; */
	color: var(--subtitle-color-table);
	font-size: 11px;
	padding: 5px;
}
