<div class="sectors-top-container">
	<div *ngFor="let sector of sectors" class="sectors">
		<div class="sector-title">
			<span>{{ sector.sectorName }}</span>
			<div class="circle-number">
				<span>{{ sector.sectorId }}</span>
			</div>
		</div>
		<div class="stations-container">
			<div *ngFor="let station of sector.stations" class="sector-top-stations">
				<span class="station-title">{{ station.stationName }} {{ station.stationId }}</span>
				<!-- Componente modal para exibir detalhes da station -->
				<span class="station-subtitle">{{ station.branch }}-{{ station.pcType }}-{{ station.serialNumberPc }}</span>
				<app-modal
					[reservations]="reservations"
					[sectorName]="sector.sectorName"
					[sectorId]="sector.sectorId"
					[sectorName]="sector.sectorName"
					[sectorId]="sector.sectorId"
					[stationName]="station.stationName"
					[stationId]="station.stationId"
					[branch]="station.branch"
					[pcType]="station.pcType"
					[serialNumberPc]="station.serialNumberPc"
				>
				</app-modal>
			</div>
		</div>
	</div>
</div>
