<div class="island-set__container">
	<div *ngFor="let sector of sectors" class="island-and-tables__item">
		<div class="island-name-and-number">
			<span>{{ sector.sectorName }}</span>
			<div class="circle-number">
				<span>{{ sector.sectorId }}</span>
			</div>
		</div>
		<div class="tables__container">
			<div
				*ngFor="let station of sector.stations"
				class="island-central__table"
			>
				<span class="table-title"
					>{{ station.stationName }} {{ station.stationId }}</span
				>
				<!-- Componente modal para exibir detalhes da mesa -->
				<span class="table-subtitle"
					>{{ station.branch }}-{{ station.pcType }}-{{
						station.serialNumberPc
					}}</span
				>
				<app-modal
					[sectorName]="sector.sectorName"
					[sectorId]="sector.sectorId"
					[stationName]="station.stationName"
					[stationId]="station.stationId"
					[branch]="station.branch"
					[pcType]="station.pcType"
					[serialNumberPc]="station.serialNumberPc"
				>
				</app-modal>
			</div>
		</div>
	</div>
</div>
