<div class="conjunto__ilhas_e_mesas">
  <!-- Informações da Ilha (nome, numero e qntMesas porIlha) -->
  <div
  *ngFor="let ilha of ilhas"
  class="ilha_e_mesas"
  >
    <div class="ilha_nome_e_numero">
      <h2>{{ ilha.nome }} {{ ilha.id }}</h2>
    </div>

    <div class="conjunto__mesas">
      <div
        *ngFor="let mesa of ilha.mesas"
        class="ilha__central__mesa"
      >
        <h3>{{ mesa.nome }} {{ mesa.id }}</h3>
        <app-modal
          [mesaNome]="mesa.nome"
          [mesaId]="mesa.id"
          [ilhaNome]="ilha.nome"
          [ilhaId]="ilha.id"
          [branch]="mesa.branch"
          [pcType]="mesa.pcType"
          [serialNumberPc]="mesa.serialNumberPc"
          >
        </app-modal>

      </div>
    </div>
  </div>
</div>


