<div class="conjunto__ilhas">

  <!-- ILHA 1 -->
  <div class="ilha__central">

    <div class="numero_ilha">
      <h2>Ilha 1</h2>
    </div>

    <div class="conjunto__mesas">

      <div class="ilha__central__mesa">
        <h3>Mesa 1</h3>
        <button class="btn-reservar">Reservar</button>
      </div>

      <div class="ilha__central__mesa">
        <h3>Mesa 2</h3>
        <button class="btn-reservar">Reservar</button>
      </div>

      <div class="ilha__central__mesa">
        <h3>Mesa 3</h3>
        <button class="btn-reservar">Reservar</button>
      </div>

      <div class="ilha__central__mesa">
        <h3>Mesa 4</h3>
        <button class="btn-reservar">Reservar</button>
      </div>

      <div class="ilha__central__mesa">
        <h3>Mesa 5</h3>
        <button class="btn-reservar">Reservar</button>
      </div>

      <div class="ilha__central__mesa">
        <h3>Mesa 6</h3>
        <button class="btn-reservar">Reservar</button>
      </div>

    </div>

  </div>

  <!-- ILHA 2 -->

  <div class="ilha__central">

    <div class="numero_ilha">
      <h2>Ilha 2</h2>
    </div>

    <!-- caso queira fazer um conjunto de 4 mesas,
    remover "_13" e acrescentar + 2 mesas -->
    <div class="conjunto__mesas">

      <div class="ilha__central__mesa">
        <h3>Mesa 1</h3>
        <button class="btn-reservar">Reservar</button>
      </div>

      <div class="ilha__central__mesa">
        <h3>Mesa 2</h3>
        <button class="btn-reservar">Reservar</button>
      </div>

      <div class="ilha__central__mesa">
        <h3>Mesa 3</h3>
        <button class="btn-reservar">Reservar</button>
      </div>

      <div class="ilha__central__mesa">
        <h3>Mesa 4</h3>
        <button class="btn-reservar">Reservar</button>
      </div>

      <div class="ilha__central__mesa">
        <h3>Mesa 5</h3>
        <button class="btn-reservar">Reservar</button>
      </div>

      <div class="ilha__central__mesa">
        <h3>Mesa 6</h3>
        <button class="btn-reservar">Reservar</button>
      </div>



    </div>

  </div>


  <!-- ILHA 3 -->

  <div class="ilha__central">

    <div class="numero_ilha">
      <h2>Ilha 3</h2>
    </div>

    <div class="conjunto__mesas">

      <div class="ilha__central__mesa">
        <h3>Mesa 1</h3>
        <button class="btn-reservar">Reservar</button>
      </div>

      <div class="ilha__central__mesa">
        <h3>Mesa 2</h3>
        <button class="btn-reservar">Reservar</button>
      </div>

      <div class="ilha__central__mesa">
        <h3>Mesa 3</h3>
        <button class="btn-reservar">Reservar</button>
      </div>

      <div class="ilha__central__mesa">
        <h3>Mesa 4</h3>
        <button class="btn-reservar">Reservar</button>
      </div>

      <div class="ilha__central__mesa">
        <h3>Mesa 5</h3>
        <button class="btn-reservar">Reservar</button>
      </div>

      <div class="ilha__central__mesa">
        <h3>Mesa 6</h3>
        <button class="btn-reservar">Reservar</button>
      </div>

    </div>

  </div>


  <!-- ILHA 4 -->

  <div class="ilha__central">

    <div class="numero_ilha">
      <h2>Ilha 4</h2>
    </div>

    <div class="conjunto__mesas">

      <div class="ilha__central__mesa">
        <h3>Mesa 1</h3>
        <button class="btn-reservar">Reservar</button>
      </div>

      <div class="ilha__central__mesa">
        <h3>Mesa 2</h3>
        <button class="btn-reservar">Reservar</button>
      </div>

      <div class="ilha__central__mesa">
        <h3>Mesa 3</h3>
        <button class="btn-reservar">Reservar</button>
      </div>

      <div class="ilha__central__mesa">
        <h3>Mesa 4</h3>
        <button class="btn-reservar">Reservar</button>
      </div>

      <div class="ilha__central__mesa">
        <h3>Mesa 5</h3>
        <button class="btn-reservar">Reservar</button>
      </div>

      <div class="ilha__central__mesa">
        <h3>Mesa 6</h3>
        <button class="btn-reservar">Reservar</button>
      </div>

    </div>

  </div>


  <!-- ILHA 5 -->

  <div class="ilha__central">

    <div class="numero_ilha">
      <h2>Ilha 5</h2>
    </div>

    <div class="conjunto__mesas">

      <div class="ilha__central__mesa">
        <h3>Mesa 1</h3>
        <button class="btn-reservar">Reservar</button>
      </div>

      <div class="ilha__central__mesa">
        <h3>Mesa 2</h3>
        <button class="btn-reservar">Reservar</button>
      </div>

      <div class="ilha__central__mesa">
        <h3>Mesa 3</h3>
        <button class="btn-reservar">Reservar</button>
      </div>

      <div class="ilha__central__mesa">
        <h3>Mesa 4</h3>
        <button class="btn-reservar">Reservar</button>
      </div>

      <div class="ilha__central__mesa">
        <h3>Mesa 5</h3>
        <button class="btn-reservar">Reservar</button>
      </div>

      <div class="ilha__central__mesa">
        <h3>Mesa 6</h3>
        <button class="btn-reservar">Reservar</button>
      </div>

    </div>

  </div>

  <!-- ILHA 6 -->

  <div class="ilha__central">

    <div class="numero_ilha">
      <h2>Ilha 6</h2>
    </div>

    <div class="conjunto__mesas">

      <div class="ilha__central__mesa">
        <h3>Mesa 1</h3>
        <button class="btn-reservar">Reservar</button>
      </div>

      <div class="ilha__central__mesa">
        <h3>Mesa 2</h3>
        <button class="btn-reservar">Reservar</button>
      </div>

      <div class="ilha__central__mesa">
        <h3>Mesa 3</h3>
        <button class="btn-reservar">Reservar</button>
      </div>

      <div class="ilha__central__mesa">
        <h3>Mesa 4</h3>
        <button class="btn-reservar">Reservar</button>
      </div>

      <div class="ilha__central__mesa">
        <h3>Mesa 5</h3>
        <button class="btn-reservar">Reservar</button>
      </div>

      <div class="ilha__central__mesa">
        <h3>Mesa 6</h3>
        <button class="btn-reservar">Reservar</button>
      </div>

    </div>

  </div>

  <!-- ILHA 7 -->

  <div class="ilha__central">

    <div class="numero_ilha">
      <h2>Ilha 7</h2>
    </div>

    <div class="conjunto__mesas">

      <div class="ilha__central__mesa">
        <h3>Mesa 1</h3>
        <button class="btn-reservar">Reservar</button>
      </div>

      <div class="ilha__central__mesa">
        <h3>Mesa 2</h3>
        <button class="btn-reservar">Reservar</button>
      </div>

      <div class="ilha__central__mesa">
        <h3>Mesa 3</h3>
        <button class="btn-reservar">Reservar</button>
      </div>

      <div class="ilha__central__mesa">
        <h3>Mesa 4</h3>
        <button class="btn-reservar">Reservar</button>
      </div>

      <div class="ilha__central__mesa">
        <h3>Mesa 5</h3>
        <button class="btn-reservar">Reservar</button>
      </div>

      <div class="ilha__central__mesa">
        <h3>Mesa 6</h3>
        <button class="btn-reservar">Reservar</button>
      </div>

    </div>

  </div>

  <!-- ILHA 8 -->

  <div class="ilha__central">

    <div class="numero_ilha">
      <h2>Ilha 8</h2>
    </div>

    <div class="conjunto__mesas">

      <div class="ilha__central__mesa">
        <h3>Mesa 1</h3>
        <button class="btn-reservar">Reservar</button>
      </div>

      <div class="ilha__central__mesa">
        <h3>Mesa 2</h3>
        <button class="btn-reservar">Reservar</button>
      </div>

      <div class="ilha__central__mesa">
        <h3>Mesa 3</h3>
        <button class="btn-reservar">Reservar</button>
      </div>

      <div class="ilha__central__mesa">
        <h3>Mesa 4</h3>
        <button class="btn-reservar">Reservar</button>
      </div>

      <div class="ilha__central__mesa">
        <h3>Mesa 5</h3>
        <button class="btn-reservar">Reservar</button>
      </div>

      <div class="ilha__central__mesa">
        <h3>Mesa 6</h3>
        <button class="btn-reservar">Reservar</button>
      </div>

    </div>

  </div>

</div>
