<div class="conjunto__ilhas_e_mesas">
  <!-- Informações da Ilha (nome, numero e qntMesas porIlha) -->
  <div
  *ngFor="let ilha of ilhas"
  class="ilha_e_mesas"
  >
    <div class="ilha_nome_e_numero">
      <h2>{{ ilha.nome }} {{ ilha.id }}</h2>
    </div>
    <i class="fa fa-check" aria-hidden="true"></i>
    <div class="conjunto__mesas">
      <div
        *ngFor="let mesa of ilha.mesas"
        class="ilha__central__mesa"
      >
        <h3>{{ mesa.nome }} {{ mesa.id }}</h3>
        <button class="btn-reservar">{{ btnContent }}</button>
      </div>
    </div>
  </div>
</div>
