<!-- Botão para abrir o modal de reserva -->
<button class="btn-reservation" (click)="openModal()">{{ btnContent }}</button>

<!-- Modal de reserva -->
<div class="modal__container" [ngClass]="{ show: showModal }">
	<div class="modal__content">
		<!-- Cabeçalho do modal -->
		<div class="modal__header">
			<div class="modal__title">
				<span>{{ titleModal }}</span>
			</div>
			<div class="modal__subtitle">
				<!-- Detalhes da ilha, mesa e equipamento selecionados -->
				<span>
					{{ sectorName }} {{ sectorId }} - {{ stationName }} {{ stationId }} -
					{{ branch }}-{{ pcType }}-{{ serialNumberPc }}
				</span>
			</div>
			<hr />
		</div>

		<!-- Formulário de reserva -->
		<div class="content__forms">
			<form (ngSubmit)="capturarDadosFormulario()">
				<!-- Campo Nome -->
				<div class="name__container">
					<div class="content_name">
						<label for="nome">Nome:</label>
						<input
							type="text"
							name="nome"
							id="nome"
							autocomplete="on"
							[(ngModel)]="formData.name"
							placeholder="Digite seu nome..."
							#nomeInput="ngModel"
						/>
					</div>
					<div
						*ngIf="nomeInput.touched && !isNameValid()"
						class="error-message"
					>
						Por favor, insira um nome válido.
					</div>
					<hr />
				</div>

				<!-- Campos de data de início e fim -->
				<div class="content_start_date">
					<label for="startDate">Data (início):</label>
					<input
						type="datetime-local"
						name="data-inicio"
						id="startDate"
						[(ngModel)]="formData.startDate"
						#startDateInput="ngModel"
					/>
					<div
						*ngIf="
							nomeInput.touched &&
							isNameValid() &&
							startDateInput.touched &&
							startDateInput.hasError('required')
						"
						class="error-message"
					>
						Campo obrigatório.
					</div>
					<div
						*ngIf="
							nomeInput.touched &&
							isNameValid() &&
							startDateInput.touched &&
							startDateInput.hasError('required') === false &&
							!isStartDateValid()
						"
						class="error-message"
					>
						A Data/Hora inicial deve ser superior à data atual ({{
							formData.startDate | date : "dd/MM/yyyy HH:mm"
						}})
					</div>
				</div>
				<hr />
				<div class="content_end_date">
					<label for="endDate">Data (final):</label>
					<input
						type="datetime-local"
						name="data-fim"
						id="endDate"
						[(ngModel)]="formData.endDate"
						#endDateInput="ngModel"
					/>
					<div
						*ngIf="
							nomeInput.touched &&
							isNameValid() &&
							endDateInput.touched &&
							endDateInput.hasError('required')
						"
						class="error-message"
					>
						Campo obrigatório.
					</div>
					<div
						*ngIf="
							nomeInput.touched &&
							isNameValid() &&
							endDateInput.touched &&
							endDateInput.hasError('required') === false &&
							(!isEndDateValid() || !areDatesValid())
						"
						class="error-message"
					>
						A Data/hora final deve ser superior à data inicial.
					</div>
				</div>

				<hr />
				<!-- Campo de repetição -->
				<div class="content_frequency">
					<label for="repeticao">Repetição:</label>
					<select
						class="form-control"
						id="repeticao"
						name="tipo-repeticao"
						[(ngModel)]="formData.frequency"
						(change)="onNgModelChange()"
					>
						<option value="none">Nenhum</option>
						<option value="diariamente">Diariamente</option>
						<option value="semanalmente">Semanalmente</option>
						<option value="mensalmente">Mensalmente</option>
					</select>
					<div *ngIf="isRepetitionInvalid()" class="error-message">
						Pelo menos um dia da semana deve ser selecionado.
					</div>
				</div>

				<hr />
				<div *ngIf="isSelectionValid()" class="content_days_of_the_week">
					<span>Dias da semana:</span>
					<div class="days-of-the-week__container">
						<table>
							<th>Segunda</th>
							<th>Terça</th>
							<th>Quarta</th>
							<th>Quinta</th>
							<th>Sexta</th>
							<!--
		<th>Sábado</th>
		<th>Domingo</th>
		-->
							<tr>
								<td>
									<input
										class="form-check-input"
										type="checkbox"
										id="monday"
										name="days-of-week"
										value="monday"
										[(ngModel)]="daysOfTheWeekSelected[0]"
										(change)="onNgModelChange()"
									/>
								</td>
								<td>
									<input
										class="form-check-input"
										type="checkbox"
										id="tuesday"
										name="days-of-week"
										value="tuesday"
										[(ngModel)]="daysOfTheWeekSelected[1]"
										(change)="onNgModelChange()"
									/>
								</td>
								<td>
									<input
										class="form-check-input"
										type="checkbox"
										id="wednesday"
										name="days-of-week"
										value="wednesday"
										[(ngModel)]="daysOfTheWeekSelected[2]"
										(change)="onNgModelChange()"
									/>
								</td>
								<td>
									<input
										class="form-check-input"
										type="checkbox"
										id="thursday"
										name="days-of-week"
										value="thursday"
										[(ngModel)]="daysOfTheWeekSelected[3]"
										(change)="onNgModelChange()"
									/>
								</td>
								<td>
									<input
										class="form-check-input"
										type="checkbox"
										id="friday"
										name="days-of-week"
										value="friday"
										[(ngModel)]="daysOfTheWeekSelected[4]"
										(change)="onNgModelChange()"
									/>
								</td>
								<!--
		  <td><input class="form-check-input" type="checkbox" id="saturday" name="days-of-week" value="saturday"></td>
		  <td><input class="form-check-input" type="checkbox" id="sunday" name="days-of-week" value="sunday"></td> 
		  -->
							</tr>
						</table>
					</div>
				</div>

				<hr *ngIf="isSelectionValid()" />
				<!-- até aqui -->

				<!-- commment field -->
				<div class="content_comment">
					<label for="comentario">Comentário:</label>
					<textarea
						class=""
						id="comentario"
						name="comentario-texto"
						[(ngModel)]="formData.comment"
						placeholder="Insira um comentário..."
					></textarea>
				</div>
				<!-- modal footer -->
				<footer>
					<div class="footer-modal">
						<!-- btn cancel & save reserve -->
						<button type="button" class="btn-cancelar" (click)="hideModal()">
							Cancel
						</button>
						<button *ngIf="isFormValid()" type="submit" class="btn-salvar">
							Save
						</button>
					</div>
				</footer>
			</form>
		</div>
	</div>
</div>
