.modal {
  /* border: red 3px solid; */

  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);

}

.show {
  display: block;
}

.modal__content{
  border: rgb(45, 183, 218) .2rem solid;

  border-radius: .25rem;
  display: flex;
  flex-direction: column;

  width: 850px;
  height: 750px;

  padding: 0 1rem;
  margin: 5rem auto;

  background-color: rgb(235, 235, 235);

}

.modal__header {
  /* border: 2px solid red; */

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: transparent;

}
.modal__title,.modal__subtitle {
  /* border: #1F6FEB 2px solid; */

  background-color: transparent;
}
.modal__title > h2 {
  color: rgb(29, 29, 29);
  background-color: transparent;
  opacity: 0.9;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-bottom: 1.5rem;
}
.modal__subtitle > h3 {
  color: rgb(29, 29, 29);
  background-color: transparent;
  opacity: 0.9;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.modal__header > hr {
  margin-top: 1rem;
  width: 65%;
}

.content__forms{
  /* border: 2px solid coral; */

  display: flex;

  align-items: center;
  justify-content: center;


  margin-top: 1.5rem;
  padding: .5rem;

  width: 100%;
  height: 100%;


}
label{
  color:rgba(0, 0, 0);
  font-weight: 600;
  background-color: transparent;
}

.btn-reservar {
  border-radius: 4px;
  border: 1px solid rgb(1, 0, 83);

  background-color: #111D2F;
  opacity: 1;

  width: 100%;

  padding: 3px;
  margin-top: 6px;

  cursor: pointer;

  color: #1F6FEB;

  font-family: Arial;
  font-size: 15px;
  font-weight: bold;

  text-decoration: none;

}

.btn-reservar:hover {
  background-color: #1F6FEB;

  color: snow;

  transition: 250ms;
}

.btn-reservar:active {
  position: relative;
  top: 1px;

}
form,
footer,
div,
label,
input,
button,
option,
select,
textarea,
table,
th,
td,
tr
{
  background-color: transparent;
}

form{
  width: 100%;
  height: 100%;
}

.content_name,
.content_date,
.content_duration,
.content_frequency,
.content_days_of_the_week {
  /* border: red 1px solid; */

  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 1rem 0;

}

.content_name > label {
  width: 20%;
}

.content_name > input {
  border: 1px solid gray;
  border-radius: .25rem;
  padding: .5rem;
  color: black;
  font-style: italic;
  font-weight: 600;
  width: 50%;
}

.content_date > label {
  width: 20%;
}
.content_date > input {
  border: 1px solid gray;
  border-radius: .25rem;
  padding: .5rem;
  color: black;
  width: 25%;
}

.content_duration > label {
  width: 20%;
}
.content_duration > input {
  border: 1px solid gray;
  border-radius: .25rem;
  padding: .5rem;
  color: black;
  width: 25%;
}

.content_frequency > label {
  width: 20%;
}
select {
  border: 1px solid gray;
  border-radius: .25rem;
  padding: .5rem;
  color: black;
  width: 25%;
}
select > option {
  color: black;
  background-color: #ddd;
}

.content_days_of_the_week{
  display: flex;
  flex-direction: row;

}
.content_days_of_the_week > label{
  width: 20%;
}
.content_days_of_the_week > table {
  /* border: red 1px solid; */
  padding: .25rem 0;
  width: 80%;

}
table > th {
  /* border: red 1px solid; */
  margin: 0 10rem;
  color: black;
  font-weight: 500;
  background-color: rgb(31, 111, 235, 0.7);
  border-radius: 5px 0 0px 0;
  width: 120px;
}

table > tr > td {
  /* border: red 1px solid; */
  text-align: center;
  background-color: #d4d4d4;
  border-radius: 0 0px 5px 0px;
}


textarea {
  resize: none; /* Impede o redimensionamento */
  width: 50%; /* Largura fixa */
  height: 150px; /* Altura fixa */
  border-radius: .25rem;
  font-style: italic;
  font-weight: 600;
  padding: .5rem;
  color: rgb(0, 0, 0, 0.85);
}



footer{
  /* border: red 1px solid; */
  display: flex;
  justify-content: flex-end;
  align-items: center;

  position: relative;
  bottom: 0;
  width: 100%;

  padding-bottom: .25rem;

}
footer > button{
  color: rgba(255, 255, 255, 0.85);
  margin: 0 .5rem;
  padding: .45rem 0.5rem;
  width: 10rem;
  border-radius: .25rem;
}

.btn-cancelar, .btn-salvar {
  border: none;
  font-weight: 600;
  cursor: pointer;

}

.btn-cancelar:active {
  position: relative;
  top: 1px;

}
.btn-salvar:active {
  position: relative;
  top: 1px;

}

.btn-salvar:hover {
  background-color: #218838;
  position: relative;
  top: 1px;
}

.btn-cancelar:hover {
  background-color: #C62333;
  position: relative;
  top: 1px;
}

.btn-cancelar{
  background-color: #DC3545;
}
.btn-salvar {
  background-color: #28A745;
}

