<header>
	<nav class="header-nav">
		<div class="logo">
			<a [routerLink]="['/']">
				<img src="assets/img/logo/logo_maior.png" alt="" />
			</a>
		</div>
		<div
			id="nav-menu"
			class="header-nav-menu responsive-menu-hidden responsive-nav"
		>
			<ul>
				<a
					[routerLink]="['/']"
					[routerLinkActive]="['activated']"
					[routerLinkActiveOptions]="{ exact: true }"
				>
					<li><span>Disposição ilhas/mesas</span></li>
				</a>
				<a
					[routerLink]="['available-tables']"
					[routerLinkActive]="['activated']"
					[routerLinkActiveOptions]="{ exact: true }"
				>
					<li><span>Available Stations</span></li>
				</a>
				<a
					[routerLink]="['all-reservation']"
					[routerLinkActive]="['activated']"
					[routerLinkActiveOptions]="{ exact: true }"
				>
					<li><span>All Reservations</span></li>
				</a>
			</ul>
			<div class="header-nav-about">
				<button (click)="openAboutMe()" class="aboutMe">About Me</button>
			</div>
		</div>
		<button (click)="showMenu()" class="menu-btn fa-solid fa-bars"></button>
	</nav>
</header>
<div id="about-me-container" class="right-hidden">
	<button
		(click)="closeAboutMe()"
		class="closeAboutMe fa-solid fa-xmark"
	></button>

	<app-about-me></app-about-me>
</div>
