@media (width <=1140px) {
	.header-nav {
		display: flex;
		justify-content: space-between;
		align-items: center;
		position: relative;
		padding: 0 2rem;
	}

	.menu-btn {
		/* border: 1px solid red; */
		display: flex;
		position: absolute;
		right: 2rem;
		font-size: 1.3rem;
		cursor: pointer;
	}

	.responsive-nav {
		background-color: var(--bg-color-header);
		display: flex;
		position: absolute;
		top: 3.5rem;
		right: 0;
		height: 100vh;
		width: 18rem;
		transition: 0.7s ease;
		overflow: hidden;
	}

	.responsive-nav > ul {
		display: flex;
		position: absolute;
		flex-direction: column;
		justify-content: flex-start;
		gap: 0.5rem;
	}

	.responsive-nav > ul > a {
		position: relative;
		height: 5%;
		width: 100%;
		padding-left: 1rem;
	}

	.header-nav-about {
		position: absolute;
		bottom: 10%;
		left: 50%;
		transform: translateX(-50%);
	}

	.header-nav-about > button {
		/* border: 1px solid red; */
		position: relative;
		padding: 0.5rem 1rem;
	}

	.responsive-menu-hidden {
		width: 0;
	}
}
