.conjunto__ilhas_e_mesas{
  /* border: 1px solid blue; */

  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;

  width: 100vw;

}

.ilha_e_mesas {
  /* border: 1px solid tomato; */

  display: flex;
  flex-direction: column;

  width: 250px;
  height: auto;

  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.ilha_nome_e_numero {
  /* border: green 1px solid; */
   margin: 0 auto 0 auto; /*cima, direita, baixo esquerda */
}

.ilha__central__mesa > h3 {
  color: black;
  background-color: transparent;
}

.conjunto__mesas {
  /* border: 1px solid red; */

  display: grid;
  grid-template-columns: 1fr 1fr;

  width: 80%;

  margin: auto;

}

.ilha__central__mesa {
  border: 1px solid rgb(204,164,120);
  border-radius: .25rem;

  margin: 1px;
  padding: 5px 0;

  width: 100px;
  height: 120px;


  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: rgb(212, 212, 212);
}

.btn-reservar {
  border-radius: 4px;
  border: 1px solid rgb(1, 0, 83);

  background-color: #111D2F;
  opacity: 1;

  width: 95%;

  padding: 3px;
  margin-top: 6px;

  cursor: pointer;

  color: #1F6FEB;

  font-family: Arial;
  font-size: 15px;
  font-weight: bold;

  text-decoration: none;

}

.btn-reservar:hover {
  background-color: #1F6FEB;

  color: snow;

  transition: 250ms;
}

.btn-reservar:active {
  position: relative;
  top: 1px;

}

