@media (width <=1660px) {
	.sectors-bottom-container {
		flex-wrap: wrap;
		gap: 1rem;
	}
	.sectors {
		width: 18vw;
	}
}

@media (width <=1215px) {
	.sectors-bottom-container {
		flex-wrap: wrap;
	}
	.sectors {
		width: 23vw;
	}
}

@media (width <=1000px) {
	.sectors-bottom-container {
		flex-wrap: wrap;
	}
	.sectors {
		width: 30vw;
	}
}

@media (width <= 900px) {
	.sectors-bottom-container {
		flex-wrap: wrap;
	}
	.sectors {
		width: 45vw;
	}
}

@media (width <= 815px) {
	.sectors-bottom-container {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
	}
	.sectors {
		width: 55vw;
	}
}
