<main>
	<div class="reservation-container">
		<div class="reservation-title">
			<div class="border-left"></div>
			<span>All Reservations</span>
		</div>
		<section *ngFor="let sector of sectors" class="sector-container">
			<!-- Sector -->
			<div class="sector-content">
				<div class="sector-title">
					<div class="border-left"></div>
					<span>{{ sector.sectorName }} {{ sector.sectorId }}</span>
					<button (click)="showStations(sector.sectorId.toString())"	class="fa-solid fa-angle-down"></button>
				</div>
				<!-- Station from Sector -->
				<div id="{{ sector.sectorId }}"	class="hidden-station station-property">
					<div *ngFor="let station of sector.stations">
						<div class="station-title">
							<div class="border-left"></div>
							<span>{{ station.stationName }}</span>
							<span>-</span>
							<span>{{ station.stationId }}</span>
							<span>-</span>
							<span *ngFor="let hardware of station.hardware">{{ hardware.branch }}-{{ hardware.pcType }}-{{ hardware.serialNumberPc }}</span>
							<button	(click)="showStationDetails(sector.sectorId + '' + station.stationId)" class="fa-solid fa-angle-down"></button>
						</div>
						<!-- Reserved Station Details -->
						<div id="{{ sector.sectorId + '' + station.stationId }}" class="hidden-station-details">
							<div *ngFor="let bookingDetail of station.bookingDetails" class="booking-details-container">
								<div *ngIf="bookingDetail.name && bookingDetail.name.trim() !== ''" class="booked-by" >
									<span class="labelName">Booked by:</span>
									<span class="username">{{ bookingDetail.name }}</span>
								</div>
								<div class="reservation-info">
									<ul class="info-labels">
										<li *ngIf="reservationService.isValidDate(bookingDetail.startDate) && reservationService.isValidDate(bookingDetail.endDate)">Data:</li>
										<li *ngIf="bookingDetail.frequency !== 'none'">Frequência:</li>
										<li *ngIf="reservationService.isValidDate(bookingDetail.startDate) && reservationService.isValidDate(bookingDetail.endDate)">Dias:</li>
										<li *ngIf="reservationService.isValidDate(bookingDetail.startDate) && reservationService.isValidDate(bookingDetail.endDate)">Horários:</li>
										<li *ngIf="bookingDetail.comment && bookingDetail.comment.trim() !== ''">Comentário:</li>
									  </ul>
									  <ul class="info-datas">
										<li *ngIf="reservationService.isValidDate(bookingDetail.startDate) && reservationService.isValidDate(bookingDetail.endDate)">{{ reservationService.formatDateRange(bookingDetail.startDate, bookingDetail.endDate) }}</li>
										<li *ngIf="bookingDetail.frequency !== 'none'">{{ bookingDetail.frequency }}</li>
										<li *ngIf="reservationService.isValidDate(bookingDetail.startDate) && reservationService.isValidDate(bookingDetail.endDate)">{{ reservationService.getFormattedDays(bookingDetail.daysOfTheWeekSelected) }}</li>
										<li *ngIf="reservationService.isValidDate(bookingDetail.startDate) && reservationService.isValidDate(bookingDetail.endDate)">{{ reservationService.formatTimeRange(bookingDetail.startDate, bookingDetail.endDate) }}</li>
										<li *ngIf="bookingDetail.comment && bookingDetail.comment.trim() !== ''">{{ bookingDetail.comment }}</li>
									  </ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
</main>
