<!-- Container principal para as ilhas -->
<div class="conjuntos_ilhas">
  <!-- Título para a seção do corredor administrativo -->
  <h2><i class="icon-walk fa-solid fa-person-walking"></i>CORREDOR ADMINISTRATIVO<i class="icon-walk fa-solid fa-person-walking"></i></h2>

  <!-- Componente para exibir informações sobre a ilha central -->
  <div class="ilha-central">
    <app-ilha-central></app-ilha-central>
  </div>

  <!-- Componente para exibir informações sobre a ilha próxima da janela/estacionamento -->
  <div class="ilha-janela">
    <app-ilha-janela></app-ilha-janela>
  </div>
  <!-- Título para a seção de janelas e estacionamento -->
  <h2><i class="icon-window fa-solid fa-person-through-window"></i><i class="icon-window fa-solid fa-person-through-window"></i> JANELAS / ESTACIONAMENTO <i class="icon-sq-parking fa-solid fa-square-parking"></i><i class="icon-car fa-solid fa-car-side"></i></h2>
</div>
