<main>
  <div class="top-set">
    <div class="title-top">
      <span>
        <i class="icon-walk-right fa-solid fa-person-walking"></i>Corredor
        Administrativo<i class="icon-walk-left fa-solid fa-person-walking"></i>
      </span>
    </div>

    <div class="ilha-central">
      <app-ilha-central></app-ilha-central>
    </div>
  </div>

  <div class="bottom-set">
    <div class="ilha-janela">
      <app-ilha-janela></app-ilha-janela>
    </div>

    <div class="title-bottom">
      <span>
        <i class="icon-window fa-solid fa-person-through-window"></i>Janelas &
        Estacionamento<i class="icon-car fa-solid fa-car-side"></i>
      </span>
    </div>
  </div>
</main>
