<!-- Container principal para as ilhas -->
<div class="conjuntos_ilhas">
  <!-- Título para a seção do corredor administrativo -->
  <h2>CORREDOR ADMINISTRATIVO</h2>

  <!-- Componente para exibir informações sobre a ilha central -->
  <app-ilha-central></app-ilha-central>

  <!-- Componente para exibir informações sobre a ilha próxima da janela/estacionamento -->
  <app-ilha-janela></app-ilha-janela>

  <!-- Título para a seção de janelas e estacionamento -->
  <h2>🪟🪟 JANELAS / ESTACIONAMENTO 🅿️🚗</h2>
</div>
